
body , html {
    overflow-x: hidden;

}
*{
  margin: 0px;
  padding: 0px;
}

/* header */
.navbar {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2px 40px;
}

.navbar-brand {
  font-weight: bold;
  height: 70px;
  width:70px;
}

.navbar-brand img {
  max-height: 100%;
  vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #000;
}
.container-fluid{
    width:100%;
}








/* footer */
p, h4, h6{
    color:white;
}


.quick-links .quick-link {
    color: white;
    /* font-weight: bold; */
  }


.quick-links{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ul li {
    margin-bottom: 5px; 
} */

.container-fluid
{
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding:0;
}
.main
{
    margin-top: 100px;
}

.form-control
{
  margin-top:7px;
}

.footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}



.btBack{
    background-color: #710F42;
    color:white;
    border-radius: 0;
}

.center-box {
    /* border: 1px solid black; */
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    background-color: rgb(223, 223, 223);
    
}

.input-for{
    border: 1px solid black;
    border-radius: 0;
}

@media (max-width: 576px) {
    .padding-mobile {
      padding: 0;
    }
    .center-box{
        padding:15px;
    }
    .custom-margin {
       margin-bottom: 10px;
       margin-left: 0;
       margin-right: 0;
    }
}

.custom-margin {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:20px;
}
/* .row > .custom-margin > .com {
    margin-top: 15px;
} */
.fixed-width-image 
{
    width: 600px; 
    margin-left: auto; 
    height: 400px; 
    object-fit: cover;
}
.fixed-width-image1
{
    width: 100%; height: 300px;
    margin-left: auto; 
    padding-top:30px;
}
.fixed-width-image2
{
    justify-content: center;
    width: 50%; height: 300px;
    margin-left: auto; 
    padding-top:30px;
}

@media (max-width: 576px)
{
    .custom-margin {
       margin-bottom: 10px;
       margin-left: 0;
       margin-right: 0;
    }
    .fixed-width-image
    {
        width:100%;
    }
    .fixed-width-image
    {
       padding:0;
    }
}

.column 
{
    margin: 10px;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.column img 
{
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 10px;
}



@media (max-width: 576px)
{
    .navbar-brand img {
       width: 30px;
    }
}

/* community */
#gridRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #f0f0f0;
}

.box-di{
    background-color: #f0f0f0;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
  #col {
    width: 15.5% !important;
    margin: 5px 5px;
   
  }

  .card {
    text-align: left;
  }
.card-body
{
  padding: 10px 5px 10px 10px;
}
.card-title {
  margin-bottom: 0.10rem;
  margin-top: 0.10rem;
}

.card-body>.card-title ,.card-body>.card-title>.card-subtitle{
  text-align:left;
}

.card-subtitle{
    color:#756767;
    font-size: 15px;
    margin-top: 3px;
}
.card-img-top {
  width: 100%; 
  height: 200px;
  object-fit: cover; 
}
 
  @media (max-width: 992px) {
    #col {
      width: 18% !important;
      margin: 3px 10px;
    }
  }

  @media (max-width: 768px) {
    #col {
      width: 31% !important;
      margin: 5px 10px;
    }
  }

  @media (max-width: 576px) 
  {
    #col {
      width: 47% !important;
      margin: 5px 2px;
    }
    /* .card-img-top
    {
      width: 100%; 
      height: 100px; 
      object-fit: cover;
    } */
  }

  @media (max-width: 576px) 
  {
    #selectrow {
        padding:20px;
    }
  }

.box {
    margin-bottom: 20px;
    height: 300px;
  }

#gridRow1 {
    padding: 20px;
}


/* Events */

#eventRow
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}
.eventsboxes {
  width: 23% !important;
  margin: 15px 5px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px;
  box-shadow: rgb(11 11 11 / 15%) 2px -1px 12px;
  padding: 20px;
  border-radius: 0;
  background-color: white;
}
.eventsboxes p {
  font-weight: 400;
  color: #756767;
  margin-bottom: 0;
}
.card-img-top1{
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}

@media (max-width: 992px) {
  .eventsboxes {
    width: 20% !important;
    margin: 3px 10px;
  }
}

@media (max-width: 768px) {
  .eventsboxes {
    width: 31% !important;
    margin: 5px 10px;
  }
}

@media (max-width: 576px) 
{
  .eventsboxes {
    width: 47% !important;
    margin: 5px 2px;
  }
}

/* footer */
.contactdetails{
  font-weight: 300;
  letter-spacing: 0.8px;
}
.footer h4, .footer p, .footer h6{
  letter-spacing: 0.8px;
}

.svg-inline--fa {
  color:white !important;
  margin:10px !important;
  font-size: 22px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.page-link {
  padding: 8px 16px;
  background-color: rgb(113, 15, 66);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.page-link:hover {
  background-color: rgb(113, 15, 66);
  color: white;
}
.page-link.active {
  background-color: rgb(89, 8, 50);
  font-weight: bold;
}

